body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

header {
    background-color: #D3D3D3;
}

nav {
    display:inline-block;
    width: 80%;
}

header img {
    width: 10%;
}

main {
    background-color: #FEFF00;
}

footer {
    background-color: #D3D3D3;
}
/* li {
    list-style: none;
    display: inline-block;
    width: 300px;
}
*/
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    display: list-item;
}

h1 {
    text-align: center;
    font-family: 'Monotype Corsiva', Basilica, 'Shelley Script', 'Script MT Bold';
    color: #06008B;
}

p {
    line-height: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.grid img {
  width: 100%;
  height: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
